<div class="row">
    <div data-ng-repeat="video in videos" data-ng-class="{end: $index == videos.length - 1}"
         class="video-container small-12 medium-3 large-6 columns">

        <!--setRoute('home')-->
        <a href="#/singleVideo/{{video.id}}">
            <img class="video-cover" data-ng-src="{{video.url}}" alt=""/>
        </a>

        <div>{{video.title}}</div>
        <div>{{video.year}}</div>
        <div>Director: {{video.director}}</div>
        <div class="rating"></div>
    </div>
</div>

